---
const { title, link, imageSrc, blurb } = Astro.props;
---

<li>
  <a href={link}>
    <img src={imageSrc} alt={title} width="50" height="50" />
    <h3>{title}</h3>
    <p>{blurb}</p>
  </a>
</li>
